* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
nav h1 {
    color: white;
    font-size: 100px;
    font-weight: 900;
    cursor: text;
}

.bg-img {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images-unv/bg-img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
}

nav {
    display: flex;
    flex-direction: row;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

nav img {
    width: 170px;
    position: relative;
    top: 30px;
    right: 140px;
    cursor: default;
}

.nav-links {
    display: flex;
    text-align: right;
    background-color: rgba(25, 25, 25, 0.95);
    border: 2px solid aqua;
    border-radius: 10px;
    cursor: default;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color:rgb(231, 231, 231);
    font-size: 25px;
    font-weight: 600;
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    border-radius: 3px;
    background: aqua;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: rgb(231, 231, 231);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    background-color: rgba(25, 25, 25, 0.95);
    border: 3px solid aqua;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 10px;

}

.text-box h1 {
    font-size: 60px;
    font-weight: 800;
    padding: 20px 0px 20px 0px;
}

.text-box p {
    font-size: 40px;
    font-weight: 600;
}

.text-box a button {
    font-size: 30px;
    color: white;
    position: relative;
    top: 50px;
    width: 270px;
    height: 70px;
    background-color: rgba(0, 255, 255, 0.3);
    border: 2px solid aqua;
    border-radius: 10px;
    font-weight: 600;

}

.text-box a button:hover {
    cursor: pointer;
    scale: 110%;
    transition: 0.3s;
    color: white;
    background-color: rgba(0, 255, 255, 0.6);

}

