* {
    margin: 0;
    padding: 0;
    font-family: 'Blinker', sans-serif;
}

body {
	background-image: linear-gradient(140deg, rgb(0,0,0),rgb(25, 100, 106),rgb(0, 207, 82),rgb(0, 198, 144),rgb(0, 255, 251),rgb(3, 46, 62),rgb(0,0,0));
    backdrop-filter: brightness(30%);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 30%;
    }
    25% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
    70% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 30%;
	}
}

nav h1 {
    color: white;
    font-size: 70px;
    font-weight: 900;
    cursor: text;
    padding: 0
}



.bg-img {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 4px 50px;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.7);
}

nav img {
    width: 170px;
    position: relative;
    top: 20px;
    right: 150px;
    cursor: default;
}

.nav-links {
    display: flex;
    text-align: right;
    cursor: default;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color:rgb(231, 231, 231);
    font-size: 25px;
    font-weight: 400;
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    border-radius: 3px;
    background: aqua;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: rgb(231, 231, 231);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 10px;

}

.text-box h1 {
    font-size: 60px;
    font-weight: 800;
    padding: 20px 0px 20px 0px;
}

.text-box p {
    font-size: 40px;
    font-weight: 600;
}

.text-box button {
    border: 0;
    color: rgb(0, 255, 217);
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    padding: 15px 30px;
    display: inline-block;
    border: 2px solid #00ff7b;   
}

.text-box button:hover,
.text-box button:focus{
    color: rgb(255, 255, 255);
    border-top-color: rgb(0, 255, 115);
    border-right-color: rgb(0, 255, 115);
    border-bottom-color: rgb(0, 255, 247);
    border-left-color: rgb(0, 255, 247);
}
.text-box button:hover,
.text-box button:focus{
    transition: color 0.5s linear, 
      border-top-color 0.10s linear 0.20s, 
      border-right-color 0.20s linear 0.30s, 
      border-bottom-color 0.30s linear 0.40s, 
      border-left-color 0.40s linear 0.50s;
}
.text-box button:hover,
.text-box button:focus{
    transition: color 0.5s linear, 
      border-bottom-color 0.10s linear 0.20s, 
      border-left-color 0.20s linear 0.30s, 
      border-top-color 0.30s linear 0.40s, 
      border-right-color 0.40s linear 0.50s;
}
.text-box button:hover,
.text-box button:focus{
    transition: color 0.5s linear, 
      border-left-color 0.3s linear 0.30s, 
      border-right-color 0.4s linear 0.30s, 
      border-bottom-color 0.5s linear 0.50s, 
      border-top-color 0.5s linear 0.50s;
      scale: 110%;
}
