  
  body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./images-home/home-bg-img.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.nav-bar a {
  text-decoration: none;
}

.nlpt {
  color: white;
  font-size: 80px;
  margin-left: 50px;
  margin-top: 20px;
  font-style: italic;
  font-weight: 700;
}




  .nav-links ul li a {
    text-decoration: none;
    color: rgb(231, 231, 231);
    font-size: 15px;
    font-weight: 400;
  }


  .nav-links {
    display: flex;
    text-align: right;
    cursor: default;
    position: absolute;
    right: 400px;
    top: 60px;
  }
  

  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding-left: 50px;
    
  }
  
  .nav-links ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    border-radius: 3px;
    background: aqua;
    display: block;
    margin: auto;
    transition: 0.3s;
  }
  
  .nav-links ul li a:hover::after {
    width: 100%;
  }

.nav-btns {
    position: absolute;
    right: 130px;
    top: 45px;
  }

  .nav-btns button {
    font-size: 15px;
  }

  .material-symbols-outlined {
    color: white;
    position: absolute;
    right: 50px;
    top: 55px;
    scale: 1.7;
  }

  .material-symbols-outlined:hover {
    cursor: pointer;
    color: aqua;
    transition: 0.5s;
  }

  #log-in {
    background-color: transparent;
    color: white;
    border: none;
    width: 125px;
    height: 50px;
    font-weight: 600;
  }

  #log-in::after {
    content: "";
    width: 0%;
    height: 2px;
    border-radius: 3px;
    background: aqua;
    display: block;
    margin: auto;
    transition: 0.3s;
  }

  #log-in:hover::after {
    width: 40%;
  }




  #register {
    background-color: aqua;
    color: black;
    border-radius: 10px;
    border: 1px solid aqua;
    width: 125px;
    height: 40px;
    font-weight: 600;
  }

  #register:hover, #log-in:hover {
    background-color: transparent;
    transition: 0.3s;
    color: aqua;
    cursor: pointer;
  }

  #register:hover {
    background-color: transparent;
  }


  #blur-main-text {
    backdrop-filter: blur(12px);
    border-radius: 10px;
    width: 800px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 120px;
    top: 200px;
  }
  
  .main-block {
    position: absolute;
    top: 250px;
    left: 150px;
    display: flex;
    flex-direction: column;
    width: 600px;
    flex-wrap: nowrap;
  }
  
  #main-txt {
    font-size: 80px;
    font-weight: 800;
    line-height: 6rem;
    color: white;
  }

  
  #second-txt {
    position: relative;
    top: 10px;
    font-size: 25px;
    font-weight: 300;
    color: white;
  }
  
  #info-btn {
    font-size: 20px;
    color: black;
    position: relative;
    border-radius: 10px;
    font-weight: 600;
    top: 30px;
    width: 270px;
    height: 70px;
    background: aqua;
    border: none;
    letter-spacing: 3px;
  }
  
  #info-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    border: 2px solid aqua;
    color: aqua;
  }

  
  
